/* src/components/OfferCarousel.css */
.offer-carousel {
  width: 100%;
  height: 400px;  /* Ajusta la altura del carrusel según sea necesario */
  margin-top: 50px;  /* Separación entre el carrusel y otros elementos */
  position: relative;
  overflow: hidden;  /* Asegura que no se salgan de los bordes */
}

.offer-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* Hace que las imágenes cubran el contenedor sin deformarse */
  border-radius: 10px;  /* Bordes redondeados */
}

/* Estilo para las flechas */
.custom-prev, .custom-next {
  user-select: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);  /* Centra verticalmente */
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  z-index: 1;  /* Asegura que las flechas estén sobre las imágenes */
}

/* Flecha anterior */
.custom-prev {
  left: 15px;
}

/* Flecha siguiente */
.custom-next {
  right: 15px;
}

/* Hover en las flechas */
.custom-prev:hover, .custom-next:hover {
  background-color: #6a0499;  /* Cambia el color al pasar el mouse */
  color: white;
}
